#header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}
#nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
}
#welcomeTitle{
    font-size: 2rem;
    font-weight: bold;
}
#gameTitle{
    font-family: 'Uncial Antiqua', serif; /*Medieval font*/
    font-size: 4rem;
    color: #b38b0b; /*Gold Colour*/
    text-shadow: 1px 1px 2px black;
    font-weight: bold;
    letter-spacing: 1px;
}
#startBtn, #registerBtn{
    font-size: 1.5rem;
}
/* body{
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
} */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#shieldCountList {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
}
#deck img {
    width: 100px;
    height: auto;
}
.hand-label {
    font-weight: bold;
    margin-bottom: 10px;
}
#hands-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}
.hand-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
    width: 100%;
}
.card {
    margin-right: 1px;
    width: 70px;
    height: 100px;
}
.row {
    display: none;
}
#discardText {
    padding: 10px;
}
#responseDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    width: 100%;
}
#responseDiv label, #responseDiv input {
    margin: 10px 0;
}
#noSponsorFound {
    padding: 5px;
    align-items: center;
    text-align: center;
}
#buildStage, #foeReqMessage, #weaponReqMessage {
    padding: 3px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#stageValueMessage, #stageCards, #sponsorDoneMessage {
    padding: 3px;
    text-align: center;
    margin: auto;
}
#stageValueMessage {
    color: red;
}
#builtStages {
    justify-content: center;
    align-items: center;
    text-align: center;
}
#quitStage {
    margin-top: 10px;
}
.d-flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.align-items-center {
    align-items: center;
}
.mb-2 {
    margin-bottom: 0.5rem;
}
#mainMessageArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 100%;
    text-align: center;
}
